*{
    font-family: sans-serif;
}
/* SMALL CONTAINER (BOB) */

.small-container{
    /* border: 1px solid black; */
    width: 300px;
    padding: 20px;
}

.small-container-testimony{
    margin: 30px 0px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.small-container-testimony::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-bottom: 50px solid black;
    transform: translateX(-24px) rotate(45deg);

}

.small-container-individual{
    display: flex;
}

.small-container-name{
 margin-left: 20px;
}
.small-container-name h3{
    margin-bottom: 0px;
}
.small-container-name p{
    margin-top: 3px;
    font-size: 13px;
}

.bob{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* STAR CONTAINER */

.star-review-container {
    background-color: rgb(48, 48, 48);
    width: 400px;
    height: 170px;
    border-radius: 20px;
    padding: 32px;
    color: white;
}

.stars {
    display: flex;
    gap: 0px;
}

.star-review-individual h3 {
    margin-bottom: 0px;
}

.star-review-individual p {
    opacity: .5;
    margin-top: 5px;
}

.star {
    color: rgb(255, 238, 0);
    font-size: 27px;
    
}